<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<link rel="icon" href="/images/WorldBay_Logo.ico">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>WorldBay - Cart</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
	<div th:replace="fragments/navbarHeader"></div>
	<div class="container">
		<main>
			<div class="container">
				<div class="row fs-1 text-center">
					<p>SHOPPING CART</p>
				</div>
				<div class="mb-3" style="text-align: center;">
					<a th:href="@{/}" class="btn btn-primary">Continue Shopping</a>
				</div>
				<div class="row mb-5">
					<!-- Shopping cart -->
					<div class="col-8">
						<div class="container">
							<!-- Shopping cart items header -->
							<div class="row m-3 border-top border-bottom fs-5">
								<div class="col">ITEMS</div>
								<div class="col">PRICE</div>
								<div class="col">QUANTITY</div>
								<div class="col">SUBTOTAL</div>
							</div>
							<!-- Shopping cart rows -->
							<div class="row m-3 border-bottom" th:each="cartItem : ${cartItemList}">
								<!-- Item name, description, image -->
								<div class="col mb-3">
									<h5 th:text="${cartItem.item.name}"></h5>
									<p th:text="${cartItem.item.description}"></p>
									<img width="100px"
										th:src="@{/uploads/items/{id}/{imageName}(id=${cartItem.item.id}, imageName=${cartItem.item.imgName})}">
								</div>
								<!-- Item quantity, price, links -->
								<div class="col align-self-center" th:text="'$'+${#numbers.formatDecimal(cartItem.item.price, 1, 2)}"></div>
								<div class="col align-self-center">
									<!-- Update item quantity form -->
									<form th:action="@{/cart/update/{id}(id=${cartItem.id})}" method="post">
										<input type="number" name="qty" th:value="${cartItem.quantity}"
											th:id="${cartItem.id}">
										<button class="btn btn-primary mt-2">Update</button>
									</form>
									<!-- Remove item link -->
									<form th:action="@{/cart/remove/{id}(id=${cartItem.id})}" method="get">
										<button class="btn btn-danger mt-2">Remove</button>
									</form>
								</div>
								<div class="col align-self-center"
									th:text="'$' + ${#numbers.formatDecimal(cartItem.item.price * cartItem.quantity, 1, 2)}">
								</div>
							</div>
						</div>
					</div>
					<!-- Order summary -->
					<div class="col-4">
						<div class="container">
							<div class="row m-3 border-top border-bottom fw-bold">
								<div class="col text-center fs-3">ORDER SUMMARY</div>
							</div>
							<!-- Order summary rows -->
							<div class="row m-3 border-bottom" th:each="cartItem : ${cartItemList}">
								<div class="col fs-6">
									<p th:text="${cartItem.item.name}+' x ' +${cartItem.quantity}"></p>
								</div>
								<div class="col fs-6 text-end">
									<p th:text="'$'+${#numbers.formatDecimal(cartItem.subtotal, 1, 2)}"></p>
								</div>
							</div>
							<div class="row m-3 border-bottom fw-bold">
								<div class="col fs-6">
									<p>TOTAL</p>
								</div>
								<div class="col fs-6 text-end">
									<p th:text="'$' + ${#numbers.formatDecimal(cartTotal, 1, 2)}"></p>
								</div>
							</div>
							<!-- Include the paypalCart fragment here -->
							<div th:replace="fragments/paypalCart"></div>
							<div style="text-align: center">
								<p>OR</p>
								<form th:action="@{/cart/payWithWallet}" method="post">
									<input type="hidden" name="cartTotal" th:value="${cartTotal}">
									<input type="hidden" name="cartItemList" th:value="${cartItemList}">
									<input type="hidden" name="orderId" th:value="${orderId}">
									<input type="hidden" name="transactionId" th:value="${transactionId}">
									<button class="btn btn-success mb-2">Pay with Wallet&nbsp <svg
											style="margin-bottom: 3px;" xmlns="http://www.w3.org/2000/svg" width="16"
											height="16" fill="currentColor" class="bi bi-wallet" viewBox="0 0 16 16">
											<path
												d="M0 3a2 2 0 0 1 2-2h13.5a.5.5 0 0 1 0 1H15v2a1 1 0 0 1 1 1v8.5a1.5 1.5 0 0 1-1.5 1.5h-12A2.5 2.5 0 0 1 0 12.5V3zm1 1.732V12.5A1.5 1.5 0 0 0 2.5 14h12a.5.5 0 0 0 .5-.5V5H2a1.99 1.99 0 0 1-1-.268zM1 3a1 1 0 0 0 1 1h12V2H2a1 1 0 0 0-1 1z" />
										</svg></button>

									<!-- Display the error message for insuffient balance if needed -->
									<div th:if="${message}" style="color: red;">
										<p th:text="${message}"></p>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	<div th:replace="fragments/footer"></div>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="/bootstrap/js/currencyConverter.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
		crossorigin="anonymous"></script>
</body>

</html>