<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>WorldBay - View Transactions</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
	<script src="/bootstrap/css/bootstrap.js"></script>
	<link rel="shortcut icon" type="image/png" href="/images/desktop.png">
</head>

<body>
	<div th:replace="fragments/navbarHeader"></div>
	<div class="container">
		<main>
			<div class="h1" th:if="${transactions}"
				th:text="'Transactions for ' + ${transactions.get(0).getUser().getName()}"></div>
			<div class="h1" th:unless="${transactions}" th:text="'Transactions for ' + ${userName}"></div>


			<!-- Check if there is a message -->
			<div th:if="${message}">
				<p th:text="${message}"></p>
			</div>

			<table th:if="${transactions}" class="table table-bordered table-primary">
				<thead>
					<tr>
						<th>Order ID</th>
						<th>Transaction ID</th>
						<th>Item Name</th>
						<th>Quantity</th>
						<th>Subtotal</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="transaction : ${transactions}">
						<td th:text="${transaction.getOrderId()}"></td>
						<td th:text="${transaction.getTransactionId()}"></td>
						<td th:text="${transaction.getItem().getName()}"></td>
						<td th:text="${transaction.getQuantity()}"></td>
						<td th:text=" ${(transaction.getQuantity()) * (transaction.getItem().getPrice())}"></td> 
					</tr>
				</tbody>
			</table>

		</main>
	</div>
	<div th:replace="fragments/footer"></div>
</body>

</html>