<!DOCTYPE html>
<html>

<head>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet"
		type="text/css">
	<style>
		.fa {
			color: #ffffff;
		}

		.navbar-nav .nav-link:hover {
			color: #ff6f00 !important;
		}

		.custom-dropdown-item {
			text-align: center;
			padding-left: 0;
			padding-right: 0;
		}

		.navbar-nav {
			height: 100%;
			display: flex;
			align-items: center;
		}

		.navbar-nav .dropdown .nav-link {
			padding: 10px;
		}

		.dropdown-menu {
			max-height: 300px;
			/* Set the maximum height of the dropdown menu */
			overflow-y: auto;
			/* Add a scrollbar if content exceeds the max height */
		}
	</style>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg" style="background-color: #111320;">
			<a class="navbar-brand" href="/"> <img src="/images/WorldBay-rmbg.png" width="25%" alt="company logo">
				<span class="text-white ml-2">Welcome to WorldBay</span>
			</a>

			<!-- Toggle button for mobile nav -->
			<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav"
				aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="" role="button"><i class="fa fa-bars" aria-hidden="true" style="color: #e6e6ff"></i></span>
			</button>

			<!-- Navbar links -->
			<div class="collapse navbar-collapse justify-content-center align-items-center" id="main-nav">
				<ul class="navbar-nav">

					<!-- Dropdown menu for currency selection -->
					<li class="nav-item dropdown"><a class="nav-link dropdown-toggle text-white" href="#"
							id="currencyDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Currency: <span id="selectedCurrencyCode"></span></a>

						<ul class="dropdown-menu" aria-labelledby="currencyDropdown" id="currencyOptions">
							<!-- Currency options are here -->
						</ul>
					</li>


					<li><a class="nav-link text-white" href="/">Home</a></li>
					<li th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''SELLER'')')}">
						<a class="nav-link text-white" href="/categories">Categories</a>
					</li>

					<li
						th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''SELLER'') or hasRole(''BUYER'')')}">
						<a class="nav-link text-white" href="/purchaseHistory">Purchase&nbspHist</a>
					</li>


					<li th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''SELLER'')')}">
						<a class="nav-link text-white" href="/items">Items</a>
					</li>
					<li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
						<a class="nav-link text-white" href="/user">Users</a>
					</li>
					<li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
						<a class="nav-link text-white" href="/admin/top-selling-items-sellerList">Top&nbspSelling</a>
					</li>
					<li th:if="${#authorization.expression('hasRole(''SELLER'')')}">
						<a class="nav-link text-white" href="/seller/top-selling-items">Top&nbspSelling</a>
					</li>
					<li><a class="nav-link text-white" href="/about">About</a></li>

					<li th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''SELLER'')')}">
						<a class="nav-link text-white"
							th:href="${#authorization.expression('hasRole(''ADMIN'')') ? '/adminInventory' : '/sellerInventory'}">Inventory</a>
					</li>

					<li th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
						<a class="nav-link text-white" href="/admin">Admin&nbspPage</a>
					</li>

					<!-- Cart icon with stacking -->
					<li th:if="${#authorization.expression('hasRole(''ADMIN'') or hasRole(''SELLER'') or hasRole(''BUYER'')')}"
						class="nav-item"><a href="/cart" class="fa-stack nav-link text-white"
							style="transform: translateY(-20%)"> <i class="fas fa-shopping-cart fa-stack-1x"></i>
						</a></li>

					<!-- Dropdown menu for authenticated users -->
					<li sec:authorize="isAuthenticated()" class="nav-item dropdown">
						<div class="nav-link dropdown-toggle text-white" id="userDropdown" role="button"
							data-bs-toggle="dropdown" aria-expanded="false">
							<span sec:authentication="principal.username"></span>
						</div>
						<div class="dropdown-menu dropdown-menu-end minimal-dropdown" aria-labelledby="userDropdown">
							<form th:action="@{/logout}" method="post">
								<button class="dropdown-item custom-dropdown-item" type="submit">Logout</button>
							</form>
						</div>
					</li>

					<!-- Login and register links for non-authenticated users -->
					<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link text-white"
							href="/login">Login</a></li>
					<li sec:authorize="!isAuthenticated()" class="nav-item"><a class="nav-link text-white"
							href="/register">Sign Up</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<br>
</body>

</html>